@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --font-merri: "Merriweather", serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #262626;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #404040;
  cursor:pointer;
}

*{
  scrollbar-width: thin;
  scrollbar-color: #262626 transparent;
}